_archive*
# */config*
*notes*
*.env*
*/.env*
*passwd*
#acme.json
/vscode
*/sites/wordpress/*
.DS_Store
.Rbuildignore
.deploy-wordpress-localhost.Rproj
.Rproj.user
.Rhistory
.RData
wordpress/*
!wordpress/.keep
mysql/*
!mysql/.keep
logs/nginx/*
!logs/nginx/.keep
_trash
*.Rproj
./farmland0/data
vpn.auth
authelia.conf
*/immichdata
*/docker/knight0/data
./docker/knight0/data